fastapi==0.111.0
uvicorn[standard]==0.22.0
python-multipart==0.0.9
python-socketio
grpcio

passlib==1.7.4
passlib[bcrypt]
PyJWT[crypto]

requests==2.32.2
aiohttp==3.9.5
httpx

# AI libraries
openai




# Observability
langfuse
ddtrace

# ML libraries
torch
numpy
pandas

xgboost
scikit-learn

# NLP libraries
sentence-transformers
transformers
tokenizers

nltk
tiktoken

# Llama Index for rockline RAG

llama-index-llms-ollama

llama-index==0.12.10
llama-index-core==0.12.10
llama-index-embeddings-huggingface==0.5.0
llama-index-llms-text-generation-inference==0.3.1
llama-index-embeddings-text-embeddings-inference
text-generation==0.7.0
chromadb


pydantic==2.10.4

